.employee-list-container {
    margin: 50px;
}

.employee-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.employee-list-element {
    width: 305px;
}

.employee-list-element .name {
    text-align: center;
}