.employee-list {
    margin: 25px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.employee-list-element {
    width: 305px;
}

.employee-list-element .name {
    text-align: center;
}